@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-indie: "Indie Flower", cursive;
  --font-inter: "Inter", sans-serif;
}
@utility hoverOnAnchor{
  color: #477C1B;
  /* opacity: rgba(28, 38, 26, 0.7); */
  transform: translateY(-2px);
}